<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <span class="navbar-brand"><i class="fa fa-flag"></i> Balances</span>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/category']" routerLinkActive="active" class="nav-link">
          <i class="fa fa-tags"></i> Category
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/balance/list', 'Income']" routerLinkActive="active" class="nav-link">
          <i class="fa fa-line-chart"></i> Incomes
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/balance/list', 'Expense']" routerLinkActive="active" class="nav-link">
          <i class="fa fa-shopping-bag"></i> Expenses
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/balance/summary']" routerLinkActive="active" class="nav-link">
          <i class="fa fa-bar-chart"></i> Balance Reports
        </a>
      </li>

    </ul>
  </div>
</nav>

<div class="container pt-4">
  <router-outlet></router-outlet>
</div>