<h3>{{type}} Reports</h3>

<app-search-bar [type]="type" (onSearch)="search($event)"></app-search-bar>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Remark</th>
            <th class="text-right">Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of list">
            <td>{{item.balance.category.name}}</td>
            <td>
                <a [routerLink]="['/balance/summary', item.balance.id]" class="btn-link">
                    {{item.balance.useDate}}
                </a>
            </td>
            <td>{{item.reason}}</td>
            <td>{{item.remark}}</td>
            <td class="text-right">{{item.amount}}</td>
            <td>
                <a [routerLink]="['/balance/list', item.balance.type, item.balance.id]" class="btn-link"><i
                        class="fa fa-pencil"></i></a>
            </td>
        </tr>
    </tbody>
</table>