<h4>Balance Report</h4>

<search-bar (onSearch)="search($event)"></search-bar>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th>Employee</th>
            <th class="text-right">Income</th>
            <th class="text-right">Expense</th>
            <th class="text-right">Balance</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of list">
            <td>{{item.id}}</td>
            <td>
                <!-- Details -->
                <a [routerLink]='["/balance", item.category.type, item.id, "details"]' class="btn-link">{{item.useDate |
                    date:
                    'yyyy-MM-dd'}}</a>
            </td>
            <td>{{item.category.type}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.employee}}</td>
            <td class="text-right">{{item.category.type == 'Income' ? item.total : 0| number}}</td>
            <td class="text-right">{{item.category.type == 'Expense' ? item.total : 0 | number}}</td>
            <td class="text-right">
                <!-- Edit -->
                <a [routerLink]='["/balance", item.category.type, item.id]' class="btn-link">{{item.balance |
                    number}}</a>
            </td>
        </tr>
    </tbody>
</table>