<h3>Simple Reactive Form</h3>

<div class="row">

    <div class="col-8">
        <div class="card">
            <div class="card-header">Reactive Form</div>
            <div [formGroup]="form" class="card-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" formControlName="name" class="form-control">
                    <div *ngIf="showError('name')">
                        <pre>{{form.get('name')?.errors | json}}</pre>
                    </div>
                </div>

                <div class="form-group">
                    <label>Category</label>
                    <select formControlName="category" class="form-control">
                        <option value="">Select One</option>
                        <option *ngFor="let item of categories" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>

                <fieldset formGroupName="size">

                    <div class="form-group">
                        <label>US Size</label>
                        <input type="number" formControlName="us" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>UK Size</label>
                        <input type="number" formControlName="uk" class="form-control">
                    </div>
                </fieldset>

                <div class="form-group" formArrayName="colors">
                    <label>Colors</label>
                    <div *ngFor="let item of colors.controls; index as i; last as l;" [class.mb-2]="!l"
                        class="input-group">
                        <input type="text" [formControlName]="i" class="form-control">
                        <div class="input-group-append">
                            <button (click)="removeColor(i)"
                                class="input-group-btn btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" formArrayName="props">
                    <label>Properties</label>
                    <div *ngFor="let _ of props.controls; index as i; last as l" [class.mb-2]="!l" [formGroupName]="i"
                        class="form-row">
                        <div class="col-5">
                            <input type="text" formControlName="property" class="form-control" placeholder="Enter Name">
                        </div>
                        <div class="col input-group">
                            <input type="text" formControlName="value" class="form-control">
                            <div class="input-group-append">
                                <button (click)="removeProp(i)"
                                    class="input-group-btn btn btn-outline-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary mr-2" (click)="addColor()">Add Color</button>
                    <button class="btn btn-primary" (click)="addProp()">Add Property</button>
                </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">Form Value</div>
            <div class="card-body">
                <pre>{{form.value | json}}</pre>
            </div>
        </div>
    </div>

</div>