<div class="header flex justify-between items-center">
    <h1>Course Management</h1>
    <button class="flex" (click)="addNew()">
        <icon-plus class="mr-2"></icon-plus> Add New
    </button>
</div>


<table class="table">
    <thead>
        <tr>
            <th class="text-left">Level</th>
            <th class="text-left">Name</th>
            <th class="text-right">Duration</th>
            <th class="text-right">Feees</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of list; odd as o" [class.odd]="o">
            <td>{{item.level}}</td>
            <td>{{item.name}}</td>
            <td class="text-right">{{item.duration | number}} Hours</td>
            <td class="text-right">{{item.fees | number}} MMK</td>
            <td class="text-right">
                <span (click)="edit(item)" class="flex justify-center text-sm cursor-pointer text-blue-400">
                    <icon-pencil></icon-pencil>
                </span>
            </td>
        </tr>
    </tbody>
</table>



<app-modal-dialog title="Edit Course" [disableButton]="form.invalid" (okListener)="save($event)">
    <form [formGroup]="form" class="form w-96">

        <!-- Name -->
        <div class="form-group mb-2">
            <label>Course Name</label>
            <input formControlName="name" type="text" placeholder="Enter Course Name">
        </div>

        <!-- Level -->
        <div class="form-group mb-2">
            <label>Course Level</label>
            <select formControlName="level">
                <option value="">Select Level</option>
                <option value="Basic">Basic</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advance">Advance</option>
            </select>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <!-- Duration -->
            <div class="form-group mb-2">
                <label>Durations</label>
                <input formControlName="duration" type="number" placeholder="Enter Duration in Hours.">
            </div>

            <!-- Fees -->
            <div class="form-group">
                <label>Fees</label>
                <input formControlName="fees" type="number" placeholder="Enter Course Fees">
            </div>

        </div>

    </form>
</app-modal-dialog>