<div class="container pt-4">

  <h3>Directives</h3>

  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-header">Using Properties</div>
        <div class="card-body">
          <span [hidden]="!show">Hello</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">Using Bootstrap Style</div>
        <div class="card-body">
          <span [class.d-none]="!show">Hello</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">Using NgIf</div>
        <div class="card-body">
          <span *ngIf="show">Hello</span>
        </div>
      </div>
    </div>

  </div>

  <button (click)="show = !show" class="btn btn-danger mt-4">
    {{show ? 'Hide' : 'Show'}}
  </button>
</div>