<h1>Tailwind CSS Form</h1>

<div class="form mt-4 grid grid-cols-3 gap-4">

    <div>
        <label>Text Field</label>
        <input type="text" placeholder="Enter Name">
    </div>

    <div>
        <label>Number Field</label>
        <input type="number" placeholder="Enter Number">
    </div>

    <div>
        <label>Phone Field</label>
        <input type="tel" placeholder="Enter Phone">
    </div>

    <div>
        <label>Email Field</label>
        <input type="email" placeholder="Enter Email">
    </div>

    <div>
        <label>Date Field</label>
        <input type="date" placeholder="Enter Date">
    </div>

    <div>
        <label>Time Field</label>
        <input type="time" placeholder="Enter Time">
    </div>

    <div>
        <label>Date Time Field</label>
        <input type="datetime-local" placeholder="Enter Date Time">
    </div>

    <div>
        <label>Select</label>
        <select name="" id="">
            <option value="">Select One</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>

    <div>
        <label>Text Area</label>
        <textarea></textarea>
    </div>

    <div>
        <button>Click Me</button>
    </div>

</div>