<div class="container mt-10 mx-auto">

  <h1 class="text-3xl font-bold text-primary-dark">Using Module</h1>

  <button (click)="showDialog()" class="mt-6">Show Dialog</button>

  <app-modal-dialog>

    <form class="form w-full">

      <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Enter Name">
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Enter Name">
      </div>

    </form>

  </app-modal-dialog>
</div>