<nav id="top-menu">
    <div class="container d-flex justify-content-between align-items-center">

        <!-- Page Name -->
        <span class="brand-logo"><i class="fa fa-flash"></i> Flash Memory</span>

        <div class="menu d-flex">
            <!-- Search -->
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <!-- Menu -->
            <a [routerLink]="['/edit', 0]" routerLinkActive="active"><i class="fa fa-image"></i> Image Up</a>
            <a [routerLink]="['/posts']" routerLinkActive="active"><i class="fa fa-user-o"></i> User</a>
            <a href="#"><i class="fa fa-sign-out"></i> Sign Out</a>

        </div>
    </div>
</nav>