<!-- Navbar -->
<div class="navbar">

  <nav>
    <!-- Page Tile -->
    <h1>Tailwind CSS</h1>

    <!-- Menu -->
    <div class="menu">
      <a [routerLink]="['/forms']" routerLinkActive="active">Forms</a>

      <a [routerLink]="['/hello']" routerLinkActive="active">Passing Params</a>

      <a [routerLink]="['/resolve']" routerLinkActive="active">Resolvers</a>


      <a href="nothibg">Not Found</a>
    </div>
  </nav>

</div>

<!-- Conetent -->
<div class="content">

  <router-outlet></router-outlet>
</div>